strong{
    float: right;
}
nav{
    margin-bottom: 20px;
}

.table{
    text-align: right;
    margin-bottom: 20px;
    margin-top: 20px;
}


#info > tbody > tr:last-child ,#info > tbody > td:last-child {
    background:#efefef;
}


footer{
 color: #fff;
    margin-top: 20px;
}


